<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <h1 id="heading">HR<span> Management</span> System</h1>

    <div id="navbar">
      <div id="navbar2" class="active">
        <form action="/home/emplogin" method="get">
          <button id="employee-login" class="home-buttons">Employee login</button>
        </form>
        <form action="/home/hrlogin" method="get">
          <button id="hr-login" class="home-buttons">HR login</button>
        </form>
        <form action="/home/adminlogin" method="get">
          <button id="admin-login" class="home-buttons">Admin login</button>
        </form>
        <form action="/home/studentlogin" method="get">
          <button id="student-login" class="home-buttons">Student login</button>
        </form>
      </div>
    </div>
  </body>
</html>
