<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 id="search-emp-id">Employee ID: <%=result[0].Employee_ID%></h1>

    <div id="serch-emp-info">
        <h3 id="search-emp-name" class="search-emp-query">Name: <%=result[0].Employee_Name%></h3>
      <h3 id="search-emp-desg" class="search-emp-query">Designation:<%=result[0].designation%></h3>
      <h3 id="search-emp-salary" class="search-emp-query">salary <%=result[0].Salary%></h3>
       <h3 id="search-emp-attendence" class="search-emp-query"> This Month Attendence :18</h3>
    </div>
  </body>
</html>
